<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>imageServer</servlet-name>
        <servlet-class>com.tms.threed.servletUtil.ThreedServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>imageServer</servlet-name>
        <url-pattern>/threed_framework/jpgs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>imageServer</servlet-name>
        <url-pattern>/threed_framework/pngs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>imageServer</servlet-name>
        <url-pattern>/configurator/previewpanel/*</url-pattern>
    </servlet-mapping>

</web-app>
